PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/akshajSolar?appName=Cluster0
GMAIL_USER=akshajsolarofficial@gmail.com
GMAIL_APP_PASSWORD=<your_16_char_app_password>
NOTIFY_EMAIL=akshajsolarofficial@gmail.com
ADMIN_PASSWORD=<your_admin_panel_password>
